<div class="container">
    <div class="row mx-auto mt-5">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <h1 class="card-title text-center">Bienvenue sur la bataille navale</h1>
                <div class="body">
                    <form class="card-body">
                        <p>Si vous voulez créer une nouvelle partie et la configurer vous même</p>
                        <button type="button" class="btn btn-primary" onclick="indexController.afficherPageCreationJeu()">Créer une nouvelle partie</button>
                        <button type="button" class="btn btn-primary" onclick="indexController.afficherPageScore()">Tableau des scores</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
